* {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 50vh 0 50vh;
}

.header {
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
}

nav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 5vh;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

p {
  line-height: 1.47;
  margin-top: 1vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: square;
  margin-left: 35px;
  line-height: 2.5vh;
}

.job-title,
.edu-title,
.project-title,
.skill-type {
  list-style-type: none;
  margin-top: 3vh;
}

.edu-title span:last-child {
  display: block;
}

.job-title span:first-child,
.edu-title span:first-child {
  font-size: 1.07em;
  font-weight: bold;
}

.time-span {
  display: flex;
  float: inline-end;
  font-size: 0.85em;
  font-weight: bold;
}

.company {
  display: block;
  margin-top: 0.2em;
}

.job-content {
  margin-top: 1.4vh;
}

h1 {
  margin-top: 6vh;
}

.project-title span,
.skill-type span {
  display: flex;
  font-weight: 550;
  margin-top: 0.5rem;
}

footer {
  display: flex;
  margin-top: 2vh;
  padding: 2vh 0 2vh 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: gray;
}
